.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: inherit;
}

.backgroundColor {
  background-color: hsl(195deg, 20%, 86%);
  height: 40%;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
